.background {
  box-shadow: 10px 10px 31px -5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 10px 10px 31px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 10px 10px 31px -5px rgba(0, 0, 0, 0.46);
}

.text-white {
  color: white !important;
}

.color-main {
  background-color: #cb8670;
  color: white;
}

input.error {
  border: 1px solid #f63726;
}

.feedback {
  margin-top: 10px;
}

button{
  border-radius: 12px;
  cursor: pointer;
}