display-flex,
.form-flex,
.form-date-group,
.steps ul,
.title,
.title .step-number,
.actions ul li a,
.form-radio-flex,
.form-find {
  display: flex;
  display: -webkit-flex;
}

textarea {
  width: 100%;
  padding: 15px;
  border: #ebebeb solid 1px;
}

.form-flex {
  margin: 0 -10px;
}

.form-flex .form-group {
  width: 50%;
  padding: 0 10px;
}

.form-group,
.form-date {
  margin-bottom: 18px;
  position: relative;
}

input.error {
  border: 1px solid #f63726;
}

.background {
  box-shadow: 10px 10px 31px -5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 10px 10px 31px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 10px 10px 31px -5px rgba(0, 0, 0, 0.46);
}

.text-white {
  color: white !important;
}

.color-main {
  background-color: #cb8670;
  color: white;
}

.feedback {
  margin-top: 15px;
}

button {
  border-radius: 12px;
}

input[type="checkbox"] {
  width: 20%;
  height: 90%;
}