<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="footer-area">
  <!-- Footer -->
  <footer class="text-center text-white">
    <!-- Grid container -->
    <div class="container">
      <hr class="my-5" />

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a
          href="https://www.facebook.com/horcsogporkolt"
          class="text-white me-4"
        >
          <i class="fab fa-facebook-f"></i>
        </a>
        <a
          href="https://www.instagram.com/horcsogporkolt/"
          class="text-white me-4"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/h%C3%B6r%C3%B6mp%C5%91-m%C3%A1rk-24a2982b2/"
          class="text-white me-4"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/mhorompo" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2024 Copyright: horcsogporkolt
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
