<app-header></app-header>
<section class="vh-100" style="background-image: url(../assets/img/core-img/pattern.png)">
    <div class="container margin py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card background" style="border-radius: 1rem; margin-top: 135px;">
                    <div class="row g-0">
                        <div class="d-flex align-items-center">
                            <div class="card-body p-2 p-lg-5" style="border-radius: 0 1rem 1rem 0;">

                                <h2 *ngIf="accommodation" class="fw-normal text-black" style="letter-spacing: 1px">
                                    {{accommodation.name}}
                                </h2>
                                <h4 *ngIf="accommodation" class="fw-bold text-black" style="float: right;">
                                    {{accommodation.price}} HUF/Night
                                </h4>

                                <p *ngIf="accommodation" class="fw-normal text-black" style="letter-spacing: 1px"><i
                                        class="fa-solid fa-location-dot"></i>
                                    {{accommodation.streetName}}, {{accommodation.zipCode}}</p>

                                <hr>

                                <div class="container">
                                    <div class="row">
                                        <div class="col col-8">
                                            <img class="pic" [src]="imageUrl" alt="Missing picture">
                                        </div>
                                        <div class="col-4">
                                            <h4 class="features" *ngIf="accommodation?.freeParking"><i
                                                    class="fa-solid fa-square-parking"></i>Free Parking</h4>
                                            <h4 class="features" *ngIf="accommodation?.airConditioning"><i
                                                    class="fa-solid fa-wind"></i>Air Conditioning
                                            </h4>
                                            <h4 class="features" *ngIf="accommodation?.barrierFree"><i
                                                    class="fa-solid fa-wheelchair"></i>Barrier Free</h4>
                                            <h4 class="features" *ngIf="accommodation?.breakfastIncluded"><i
                                                    class="fa-solid fa-mug-saucer"></i>Breakfast
                                                included</h4>
                                            <h4 class="features" *ngIf="accommodation?.freeWifi"><i
                                                    class="fa-solid fa-wifi"></i>Free Wi-fi</h4>
                                            <h4 class="features" *ngIf="accommodation?.reception"><i
                                                    class="fa-solid fa-phone"></i>24/7 Reception</h4>
                                        </div>
                                    </div>
                                </div>

                                <hr>

                                <p *ngIf="accommodation" class="fw-normal mb-3 pb-3 text-black"
                                    style="letter-spacing: 1px">
                                    {{accommodation.description}}
                                </p>

                                <!-- DatePicker
                                <input type="text" matInput ngxDaterangepickerMd
                                    [locale]="{applyLabel: 'ok', firstDay: 1,  format: 'YYYY-MM-DD'}"
                                    startKey="start" endKey="end" [(ngModel)]="selected" name="daterange"
                                    [autoApply]="true" class="form-control-lg form-control" />
                                -->
                                <div *ngIf="isLoggedIn" class="pt-1 mb-4 text-center">
                                    <button class="btn palatin-btn" (click)="book()">Reserve</button>
                                </div>

                                <div *ngIf="!isLoggedIn" class="pt-1 mb-4 text-center">
                                    <h5>
                                        Login or register to reserve this place!
                                    </h5>
                                    <button class="btn palatin-btn" routerLink="/regist">Register here</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>