<app-header></app-header>
<!-- ##### About Us Area Start ##### -->
<section class="about-us-area">
  <div class="container p-0" style="width: 80%">
    <div class="card background p-5" style="border-radius: 1rem; margin-top: 135px">
      <div class="container p-5">
        <div class="row align-items-center">
          <div class="col-12 col-lg-6">
            <div class="about-text text-center mb-100">
              <div class="section-heading text-center">
                <div class="line-"></div>
                <h2>The Palatin</h2>
              </div>
              <p>
                The "Hungarian Airbnb" web application, revolutionizes the way users explore accommodations through its
                intuitive
                map-based
                interface. Users can seamlessly navigate through various destinations in Hungary, visually identifying
                available
                accommodations marked by icons on the map. With just a click, users can access detailed information
                about each listing,
                including pricing empowering them to make informed booking decisions.
              </p>
              <div class="about-key-text">
                <h6>
                  <span class="fa fa-check"></span> Find your suitable accommodation quickly on the map
                </h6>
                <h6>
                  <span class="fa fa-check"></span> Book easily and quickly with one click
                </h6>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="about-thumbnail homepage mb-100">
              <!-- First Img -->
              <div class="first-img wow fadeInUp" data-wow-delay="100ms">
                <img src="../assets/img/bg-img/5.jpg" alt="" />
              </div>
              <!-- Second Img -->
              <div class="second-img wow fadeInUp" data-wow-delay="300ms">
                <img src="../assets/img/bg-img/6.jpg" alt="" />
              </div>
              <!-- Third Img-->
              <div class="third-img wow fadeInUp" data-wow-delay="500ms">
                <img src="../assets/img/bg-img/7.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### About Us Area End ##### -->
<app-footer></app-footer>