.background {
  box-shadow: 10px 10px 31px -5px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 10px 10px 31px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 10px 10px 31px -5px rgba(0, 0, 0, 0.46);
}

.text-white {
  color: white !important;
}

.color-main {
  background-color: #cb8670;
  color: white;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  font-size: large;
  padding: 10px;
  background: #cb8670;
  color: white;
  min-width: 50px;
  text-align: center;
  border-radius: 0 12px 12px 0;
}

.pass{
  border-radius: 0.5rem 0 0 0.5rem;
}