<app-header></app-header>
<mat-horizontal-stepper #stepper="matHorizontalStepper">
  <mat-step class="step" [stepControl]="profileForm">
    <ng-template matStepLabel>Personal information</ng-template>
    <form [formGroup]="profileForm">
      <div class="card background p-5">
        <fieldset>
          <h4 class="desc text-center">Enter your details</h4>
          <div class="fieldset-content">
            <div class="form-group">
              <label class="form-label text-black" for="email">Email address</label>
              <input type="email" [ngClass]="{ error: isError('email', profileForm) }" id="email"
                class="form-control form-control-lg" formControlName="email" />
              <div *ngIf="
                  profileForm.get('email')?.hasError('required') &&
                  profileForm.get('email')?.dirty
                " class="text-danger feedback">
                Email is required
              </div>
              <div *ngIf="
                  profileForm.get('email')?.hasError('email') &&
                  profileForm.get('email')?.dirty
                " class="text-danger feedback">
                Invalid email format
              </div>
            </div>

            <div class="form-row">
              <div class="form-flex">
                <div class="form-group">
                  <label class="form-label text-black" for="firstName">First Name</label>
                  <input type="text" id="firstName" class="form-control form-control-lg" formControlName="firstName"
                    [ngClass]="{ error: isError('firstName', profileForm) }" />
                  <div class="text-danger feedback" *ngIf="
                      profileForm.get('firstName')?.hasError('required') &&
                      profileForm.get('firstName')?.dirty
                    ">
                    Please enter your first name
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label text-black" for="lastName">Last Name</label>
                  <input type="text" id="lastName" class="form-control form-control-lg" formControlName="lastName"
                    [ngClass]="{ error: isError('lastName', profileForm) }" />
                  <div class="text-danger feedback" *ngIf="
                      profileForm.get('lastName')?.hasError('required') &&
                      profileForm.get('lastName')?.dirty
                    ">
                    Please enter your last name
                  </div>
                </div>
              </div>
            </div>

            <span class="text-input">Street Address</span>
            <div class="form-group">
              <input type="text" name="address" id="address" class="form-control form-control-lg"
                formControlName="streetName" [ngClass]="{ error: isError('streetName', profileForm) }" />
              <div class="text-danger feedback" *ngIf="
                  isError('streetName', profileForm) &&
                  profileForm.get('streetName')?.dirty
                ">
                Please enter a valid address
              </div>
            </div>

            <div class="form-row">
              <div class="form-flex">
                <div class="form-group">
                  <span class="text-input">City</span>
                  <input type="text" name="city" id="city" class="form-control form-control-lg" formControlName="city"
                    [ngClass]="{ error: isError('city', profileForm) }" />
                  <div class="text-danger feedback" *ngIf="
                      isError('city', profileForm) &&
                      profileForm.get('city')?.dirty
                    ">
                    Please enter a valid city
                  </div>
                </div>
                <div class="form-group">
                  <span class="text-input">Postal Code / Zip Code</span>
                  <input type="text" name="postal_code" id="postal_code" class="form-control form-control-lg"
                    formControlName="zipCode" [ngClass]="{ error: isError('zipCode', profileForm) }" />
                  <div class="text-danger feedback" *ngIf="
                      isError('zipCode', profileForm) &&
                      profileForm.get('zipCode')?.dirty
                    ">
                    Please enter a valid zip code
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="pt-1 mt-4 text-center">
          <button class="palatin-btn" matStepperNext [disabled]="profileForm.invalid"
            [ngClass]="{ disabled: profileForm.invalid }">
            Next
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="billingGroup">
    <ng-template matStepLabel>Billing information</ng-template>
    <form [formGroup]="billingGroup">
      <div class="card background p-5">
        <fieldset>
          <h4 class="desc text-center">Enter your details</h4>

          <div class="form-group">
            <label for="date">Choose reservation date</label>
            <input type="text" ngxDaterangepickerMd [locale]="{ applyLabel: 'ok', firstDay: 1, format: 'YYYY-MM-DD' }"
              startKey="start" endKey="end" name="daterange" [autoApply]="true" formControlName="selected"
              class="form-control-lg form-control" [minDate]="currentDate" [linkedCalendars]="true"
              [isInvalidDate]="isInvalidDate" (datesUpdated)="selectedRangeInDays($event)" />
          </div>

          <div class="fieldset-content">
            <div class="form-group">
              <label for="same">Same as your personal details?</label>
              <input type="checkbox" name="same" id="same" (change)="copyPersonalData($event)" />
            </div>

            <div class="form-row">
              <div class="form-flex">
                <div class="form-group">
                  <label class="form-label text-black" for="firstName">First Name</label>
                  <input type="text" id="firstName" class="form-control form-control-lg" formControlName="firstName"
                    [ngClass]="{ error: isError('firstName', billingGroup) }" />
                  <div class="text-danger feedback" *ngIf="
                      billingGroup.get('firstName')?.hasError('required') &&
                      billingGroup.get('firstName')?.dirty
                    ">
                    Please enter your first name
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label text-black" for="lastName">Last Name</label>
                  <input type="text" id="lastName" class="form-control form-control-lg" formControlName="lastName"
                    [ngClass]="{ error: isError('lastName', billingGroup) }" />
                  <div class="text-danger feedback" *ngIf="
                      billingGroup.get('lastName')?.hasError('required') &&
                      billingGroup.get('lastName')?.dirty
                    ">
                    Please enter your last name
                  </div>
                </div>
              </div>
            </div>

            <span class="text-input">Street Address</span>
            <div class="form-group">
              <input type="text" name="address" id="address" class="form-control form-control-lg"
                formControlName="streetName" [ngClass]="{ error: isError('streetName', billingGroup) }" />
              <div class="text-danger feedback" *ngIf="
                  isError('streetName', billingGroup) &&
                  billingGroup.get('streetName')?.dirty
                ">
                Please enter a valid address
              </div>
            </div>

            <div class="form-row">
              <div class="form-flex">
                <div class="form-group">
                  <span class="text-input">City</span>
                  <input type="text" name="city" id="city" class="form-control form-control-lg" formControlName="city"
                    [ngClass]="{ error: isError('city', billingGroup) }" />
                  <div class="text-danger feedback" *ngIf="
                      isError('city', billingGroup) &&
                      billingGroup.get('city')?.dirty
                    ">
                    Please enter a valid city
                  </div>
                </div>
                <div class="form-group">
                  <span class="text-input">Postal Code / Zip Code</span>
                  <input type="text" name="postal_code" id="postal_code" class="form-control form-control-lg"
                    formControlName="zipCode" [ngClass]="{ error: isError('zipCode', billingGroup) }" />
                  <div class="text-danger feedback" *ngIf="
                      isError('zipCode', billingGroup) &&
                      billingGroup.get('zipCode')?.dirty
                    ">
                    Please enter a valid zip code
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="pt-1 mt-4 text-center">
          <button class="palatin-btn" matStepperPrevious>Back</button>
          <button class="palatin-btn" matStepperNext [disabled]="billingGroup.invalid"
            [ngClass]="{ disabled: billingGroup.invalid }">
            Next
          </button>
        </div>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Summary</ng-template>

    <div class="container p-0">
      <div class="card background p-5" style="border-radius: 1rem">
        <h4 class="desc text-center">Reservation Summary</h4>

        <h5 class="text-center" *ngIf="this.accommodation">
          {{ this.accommodation.name }}
        </h5>

        <hr />

        <p class="text-center">Address</p>
        <h6 class="text-center" *ngIf="this.accommodation">
          {{ this.accommodation.city }}, {{ this.accommodation.streetName }}
        </h6>

        <p class="text-center">Duration</p>
        <h6 class="text-center" *ngIf="selectedDays">
          {{ this.selectedDays + 1 }} days / {{ this.selectedDays }} nights
        </h6>

        <h6 class="text-center" *ngIf="selectedDays">
          {{ this.formatDate(this.billingGroup.get("selected")?.value.start) }}
          -
          {{ this.formatDate(this.billingGroup.get("selected")?.value.end) }}
        </h6>

        <p class="text-center">Amount to play</p>
        <h6 class="text-center" *ngIf="selectedDays">
          {{ selectedDays * this.accommodation.price }} Huf
        </h6>

        <div class="pt-1 mt-4 text-center">
          <button class="palatin-btn" matStepperPrevious>Back</button>
          <button class="palatin-btn" matStepperNext>Pay</button>
        </div>
      </div>
    </div>

    <!-- Money calc -->
    <!-- <h4 *ngIf="selectedDays">
      {{ selectedDays * this.accommodation.price }} Huf
    </h4> -->
  </mat-step>

  <mat-step>
    <div class="container p-0">
      <div class="card background p-5" style="border-radius: 1rem; height: 30rem;">
        <ng-template matStepLabel>Payment</ng-template>

        <!-- PayPal Logo -->
        <img class="paypal-logo" src="../../../assets/img/core-img/pp_h_rgb.jpg" alt="paypallogo">
        <!-- PayPal Logo -->

        <div class="text-center m-4">
          Please do not refresh the browser while the transaction is processing
        </div>

        <div class="paypal" #paymentRef></div>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<app-footer></app-footer>